<div class="container-fluid" style="background-color: black;">
    <br>
    <div class="d-flex justify-content-center mb-3">
        <a href="/">
            <img class="rounded-circle" src="{% static 'images/logo-1.png' %}" alt="logo" width="200px">
        </a>
    </div>
    <div class="d-flex justify-content-between" style="color: white;">
        <div class="p-2 ">
                Hello, username
        </div>

        <div class="p-2">
                <a class="nav-link" href="#">Logout</a>
        </div>
    </div>
</div>