{% extends "manager/layout.html" %}

    {% block content %}
    
    <form method="POST" class="post-form">  
        {% csrf_token %}  
        <div class="container">  
            <br>  
            <div class="form-group row">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                    <h3>Enter Details</h3>  
                </div>  
            </div>  
            
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">App Name:</label>  
                <div class="col-sm-4">  
                    <input type="app_name" class="form-control" id="app_name" placeholder="Enter App Name" value="{{ form.app_name }}" name="app_name">
                </div>  
            </div>  
            <br>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Website URL:</label>  
                <div class="col-sm-4">  
                    <input type="url" class="form-control" id="url" placeholder="Enter URL" value="{{ form.url }}" name="url">
                </div>  
            </div>  
            <br>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Username:</label>  
                <div class="col-sm-4">  
                    <input type="username" class="form-control" id="username" placeholder="Enter username" value="{{ form.username }}" name="username">
                </div>  
            </div>  
            <br>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Email ID:</label>  
                <div class="col-sm-4">  
                    <input type="email" class="form-control" id="email" placeholder="Enter email" value="{{ form.email }}" name="email">
                </div>  
            </div> 
            <br>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Password:</label>  
                <div class="col-sm-4">  
                    <input class="form-control" id="password" placeholder="Enter Password" value="{{password}}" name="password" autocomplete="off" required>
                </div>  
            </div>  
            <br>
            <div class="form-group row">  
            <div class="col-sm-4">
                <label for="categories" class="form-label">Choose your categories from the list:</label>
                <div class="col-sm-4">  
                    <select name="category" id="id_category" class="form-select">
                        <option value="TECH">Technology</option>
                        <option value="NONE">No category</option>
                        <option value="BIZ">Business</option>                          
                        <option value="EMAIL">Email</option>                          
                        <option value="ENT">Entertainment</option>                          
                        <option value="FIN">Finance</option>                          
                        <option value="GAMES">Games</option>                          
                        <option value="NEWS">News</option>                          
                        <option value="OTHER">Other</option>                          
                        <option value="SHOP">Shopping</option>                          
                        <option value="SOCIAL">Social media</option>                          
                        <option value="SPORTS">Sports</option>                          
                        <option value="TECH">Tech</option>                          
                        <option value="TRAVEL">Travel</option>                          
                        <option value="UTIL">Utilities</option>                          
                    </select>  
                </div>  
            </div>
            </div>
            
            <div class="form-group row">  
                <label class="col-form-label"></label>  
                <div class="">  
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>  
                </div>  
            </div>  
        </div>  
    </form>  

    <h1 style="color: black;">{{ data }}</h1>

    {% endblock %}

