{% extends "layout.html" %}
    
    {% block content %}
    {% load static %}
        <div class="container">
            <br>
            <a href="create">
                <button type="button" class="btn btn-info">
                    + Add New Password
                </button>
            </a>
        </div>
        <br>
        <div class="table-responsive-md container">
            <table class="table text-center">
                <thead>
                    <tr>    
                        <th>
                            <h3 class="head-name">
                                App Name
                            </h3>
                        </th>
                        <th>
                            <h3 class="head-name">
                                Email
                            </h3>
                        </th>
                        <th>
                            <h3 class="head-name">
                                Username
                            </h3>
                        </th>
                        <th>
                            <h3 class="head-name">
                                Category
                            </h3>
                        </th>
                        <th>
                            <h3 class="head-name">
                                Password
                            </h3>
                        </th>
                        <th>
                            <h3 class="head-name">
                                Edit
                            </h3>
                        </th>
                        <th>
                            <h3 class="head-name">
                                Delete
                            </h3>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>
                            <b >
                                <h6>
                                {{ data.app_name }}
                                </h6>
                            </b>
                        </td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.username }}</td>
                        <td>{{ data.category }}</td>
                        <td>
                            <input id="password_field_{{ data.id }}" type="password" value="{{ data.password }}" style="width: 50%;" readonly />
                            <img onclick="copyPassword('{{ data.id }}')" src="https://res.cloudinary.com/dhzdzjgtd/image/upload/v1697304705/PyPassManager/copy.png" alt="redirect" width="20px">
                            <br>
                            <input id="show-pwd" type="checkbox" onclick="showPassword('{{ data.id }}')" /> Show
                        </td>
                        <td>
                            <a href="view-password/{{ data.id }}">
                                <button class="btn btn-success">
                                    <img src="https://res.cloudinary.com/dhzdzjgtd/image/upload/v1697304705/PyPassManager/edit.png" alt="redirect" width="20px">
                                </button>
                            </a>
                        </td>
                        
                        <td>
                            <a href="delete/{{ data.id }}">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                        </td>

                        {% if data.url %}
                            <td>
                                <a href="{{ data.url }}" target="_blank" rel="noopener noreferrer">
                                    <button class="btn btn-outline-info">
                                        <img src="https://res.cloudinary.com/dhzdzjgtd/image/upload/v1697304705/PyPassManager/redirect.png  " alt="redirect" width="20px">
                                        &nbsp;  
                                        Go to website
                                    </button>
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <button class="btn btn-outline-info disabled">
                                    <img src="https://res.cloudinary.com/dhzdzjgtd/image/upload/v1697304705/PyPassManager/redirect.png" alt="redirect" width="20px">
                                    &nbsp;  
                                    Go to website
                                </button>
                            </td>
                        {% endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
            function showPassword(id) {
                let password_field = document.getElementById("password_field_" + id);
                console.log("ID: ",id)
                if (password_field.type === "password") {
                    password_field.type = "text";
                } else {
                    password_field.type = "password";
                }
            }

            function copyPassword(id) {
                let password_field = document.getElementById("password_field_" + id);
                console.log("ID: ",id)
                navigator.clipboard.writeText(password_field.value);
            }
        </script>

    {% endblock %}